language: php
dist: trusty
matrix:
  include:
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: hhvm
      env: HHVM=true
before_script:
  - composer install
  - if [[$HHVM == true]]; then composer require "phpunit/phpunit:5.7"; fi
script:
  - ./vendor/bin/phpunit --coverage-text --coverage-clover ./build/logs/clover.xml
  - ./vendor/bin/phpcs --extensions=php --report=summary --standard=PSR2 ./src ./tests
after_script:
  - php ./vendor/bin/coveralls -v
